# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Project_longride.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\jessi\Unity3D\DMG Games\project_longride\.idea\.idea.Project_longride\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
